/*

File Name: style.css
Date: 04/30/2018
Programmer: Linda Lander

*/


@import 'palette.less';
@import 'mixins.less';

/*
Mobile style sheet
*/


html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: aliased;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: @color3;
  line-height: 2em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: .5;
 
}
header {
  background-color: @color1;
  width: 100%;
  height: 100%;
  line-height: 60px;
  border-bottom: 10px solid #000000;
}
header h1 {
  background-color: @color1;
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-Size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 10px;
  transform: uppercase;
  text-align: center;
}
header img {
    
    background-color: #ff0000;
    width: auto;
    height: auto;
    float: center;
}

/*
Hamburger Menu-----------------------------------------------
*/
nav {

    width: 100%;
    background: @color1;


    ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    }

    ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    }

    ul li:hover {
    background: lightgrey;
    }

    ul li a {
    color: @color3;
    text-decoration: none;
    }

    .toggle {
    width: 100%;
    padding: 10px 20px;
    background: @color1;
    text-align: right;
    box-sizing: border-box;
    color: @color3;
    font-size: 30px;
    display: none;
    }

@media (max-width:768px)
{
        .toggle
        {
           display: block; 
        }
        
        ul
        {
            width: 100%;
            display: none;
        }
        ul li
        {
            display: block;
            text-align: center;
        }
        .active
        {
            dsplay: block;
        }
    
}
}
/*End Hamburger Menu-----------------------------------------------
*/


main {
  background-color: #ffffff;
  color: #000000;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: .5em;
}


a:link {
  color: @color3;
}
a:visited {
  color: @color3;
}

p {
  padding-top: 10px;
}
ul {
  background-color: #ffffff;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
}
img {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

img, embed, object {
    max-width: 100%;
}


h2 {
  color: @color3;
  font-family: 'Lato', sans-serif;
  font-Size: 1.5em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.75em;
  transform: uppercase;
  text-align: center;
}
h3 {
  background-color: #ff0000;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: left;
  color: #ff0000;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
ul img {
    width: 30%;
    height: 30%;
    float: left;
    padding-right: 20px;
  }


footer {
      display: block;
      position: center;
      clear: both;
      background-color: @color1;
      color: @color3;
      text-align:center;
      height: 50px;	
      line-height: 50px;
      font-size: 80%;
      margin-left:-100%;
      margin-right:-100%;
        a:link {
            color: @color2;
        }
        a:visited {
            color: @color2;
        }
}


footer ul {
        background-color: @color1;
    }

footer li {
    background-color: @color3;
    color: @color2;
    font-size: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    display: block;    
    }
    

footer h2 {
    font-size: 2em;
    background-color: @color1;
    margin-top: auto;
    margin-bottom: auto;
   
}

footer p {
    
    display: block;
    background-color: @color1;
    width: auto;
    height: auto;
    font-size: 1.5em;
    
}



/*TABLET STYLESHEET

The following CSS affects all screen sizes larger than 480 pixels wide.

*/
@media only screen and (min-width: 481px) {
    

  body {
    font-size: 20px;
    line-height: 2em;
    margin-left: 2em;
    margin-right: 2em;
  }
   
  
        footer ul {
        background-color: @color1;
    }
    
    footer li {
        
        font-size: 1.5em;
        display: inline;
       
    }
    
    footer h2 {
        font-size: 2em;
    }
}




/*

DESKTOP STYLESHEET

The following CSS affects all screen sizes larger than 1024 pixels wide.

*/
@media only screen and (min-width: 1025px) {
    
  body {
    font-size: 20px;
    line-height: 2em;
    margin-left: 2em;
    margin-right: 2em;
  }  
    
 main {
    padding: 30px;
  }
  main img {
    float: right;
    max-width: 100%;
  }
    footer ul {
        background-color: @color1;
    }
    
    footer li {
        
        font-size: 1.5em;
        display: inline;
       
    }
    
    footer h2 {
        font-size: 2em;
    }
    
}



    
    
  

    


