<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACE contact form</title>
</head>
<body>
<form action="contact_process.php" method="post">
    <label for="cname">Name</label>
    <input type="text" id="name" name="name" placeholder="Your name..">

    <label for="ce-mail">E-mail</label>
    <input type="text" id="email" name="email" placeholder="Your e-mail..">

    <label for="website">Website</label>
    <input type="text" id="website" name="website" placeholder="website..">

    <label for="comment">Comment</label>
    <textarea id="comment" name="comment">Put your comment here.</textarea>

    <input type="submit" value="Submit">
</form>
    

</body>
</html>