<!doctype html>

<!--File Name: template.html -->
<!--Date: 04/30/2018 -->
<!--Programmer: Linda Lander -->

<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title>ACE MultiSport</title>
    
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/helper.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="styles/superfish.css"/>
    <link rel="stylesheet" href="meanmenu.css" media="all" />
 
    
</head>
<body>

<header>
    
    <div class="content">
    <h1>      
        Ace in the Hole Multiport Events<img src="images/placeholder.jpg" alt="Place Holder Image" title="Place Holder" >
    </h1>
    </div>
    
     
    <nav>
        
        <nav class="super-nav">
        <ul id="sfNav" class="sf-menu">
            <li><a href="#home">Home</a></li>
            <li><a href="#coursedetails">Course Details</a>
                <ul>
                    <li><a href="#swim">Swim</a></li>
                    <li><a href="#rum">Run</a></li>
                    <li><a href="#Bike">Bike</a></li>
                    <li><a href="#tri-a-tri">Tri-A-Tri</a></li>
                </ul>
            </li>
            
            <li><a href="#Events Schedule">Event Schedule</a></li>
            <li><a href="#cost-registration">Cost & Registation</a></li>
            <li><a href="#faq">FAQs</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
            
      </nav>
        
    </nav>
       
</header>


<main>

    <section>
    
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        
    </section>
    
    <section>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    
    </section>
    
    <section>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    
    </section>
    


</main>


<footer>
    <h2>
        Ace in the Hole Multiport Events
    </h2>

<p>copyrigt link</p> <p>contact link</p> <p>site map link</p> <p>social media links</p>
    
    </footer>

    <script src="scripts/jquery.js"></script>
    <script src="scripts/hoverIntent.js"></script>
    <script src="scripts/superfish.js"></script>
    
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="scripts/jquery.meanmenu.min.js"></script>
    <script src="scripts/scripts.js"></script>
   
    
</body>
</html>