<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACE contact form</title>
</head>
<body>
<form action="contact_form.php" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Your name..">

    <label for="ce-mail">E-mail</label>
    <input type="text" id="email" name="email" placeholder="Your e-mail..">

    <label for="category">Category</label>
    <input type="text" id="category" name="category" placeholder="category..">

    <label for="questions">Questions</label>
    <textarea id="questions" name="questions">Put your questions here.</textarea>

    <input type="submit" value="Submit">
</form>
</body>
</html>